*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

body {
  height: 100%;
  margin: 0;
  font-size:$basefontsize;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}



p {
  margin: 0;
  // color: #666666;
  font-family: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 98%;
  max-width: $containerwidth;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}
